/* You can add global styles to this file, and also import other style files */
*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

p{
  margin: 0;
  padding: 0;
}
